{{define "title"}}<title>MyRabbitMQ Blog/ Add</title>{{end}}
{{define "body"}}

<div class="page__container">
  <div class="page__header">
    <h1>a9s Messaging Sender</h1>
  </div>
  <div class="page__body">
    <form class="form-horizontal post" id="new_post" action="/messages/send" method="post">
      <label for="message" style="margin-bottom: 5px">Message</label>
      <textarea
        rows="4"
        cols="50"
        name="message"
        placeholder="Enter your message">
      </textarea>
      <input type="submit" value="Submit"/>
    </form>
  </div>
</div>

{{end}}
